<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzdsqyy.applibDemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".countdown.CountDownActivity" />
        <activity android:name=".banner.ui.activity.BannerActivity" />
        <activity android:name=".banner.ui.activity.ListViewDemoActivity" />
        <activity android:name=".banner.ui.activity.MainActivity" />
        <activity android:name=".text.TextLineHelperActivity" />
        <activity android:name=".updata.UpdataActivity" />
        <activity android:name=".ImageSelector.ImageSelectorActivity" />
        <activity android:name=".shapview.RoundAngleActivity" />
        <activity android:name=".recreate.ReCreateActivity" />
        <activity android:name=".jsbridge.JsBridgeActivity" />
        <activity android:name=".sticky.StickyActivity" />
        <activity android:name=".blur.BlurActivity" />
        <activity android:name=".lrulist.LruListActivity" />
        <activity android:name=".swapadapter.SwapAdapterActivity"></activity>
    </application>

</manifest>